%h1 Уважаемый(ая) #{@order.name}

%p Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.
%p Вы заказали следующий товар:
%table
  = render @order.line_items
%p Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте отдельное сообщение.