Уважаемый(ая) #{ @order.name }
Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.
Вы заказали следующий товар:
= render @order.line_items
Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте отдельное
сообщение.