%h2.cart_title Корзина

%table
  = render(@cart.line_items)

  %tr.total_line
    %td{colspan: 2} Всего
    %td.total_cell= number_to_currency(@cart.total_price)
    %td
  %tr

= button_to I18n.t('activerecord.attributes.cart.messages.empty_cart'), cart, method: :delete, remote: true
