%tr{:id => ("current_item" if line_item == @current_item)}
  %td #{line_item.quantity} &times;
  %td= line_item.product.title
  %td.item_price= number_to_currency(line_item.total_price)
  %td= link_to 'X', line_item_path(line_item), method: :delete, remote: true